/*
color : #8267BE;
font-family: 'Poppins',sans-serif; 
*/

/* imported links:  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');


/* body part  */

body{
    font-family: 'Poppins',sans-serif;
}

/* header part  */

header{
    margin-top: 3em;
}

.header-span{
    color:#8267BE;
    font-size: 1.5em;
}

/* button part  */

.btn{
    border: 1px solid black;
    transition: ease-in-out .3s;
}

.btn:hover{
    background-color: #8267BE;
    color: aliceblue;
}

/* error handeling  */

#error-message{
    display: none;
}

/* display phone part  */

.display-phone{
    margin: 8em 0;
}
