/*
color : #8267BE;
font-family: 'Poppins',sans-serif; 
*/

/* imported links:  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');


/* body part  */

body{
    font-family: 'Poppins',sans-serif;
    background-color: #f2eff8ef;
}

/* header part  */

header{
    margin-top: 3em;
}

header span{
    font-size: 1.5em;
}

.header-span{
    color:#8267BE;
    font-size: 1.5em;
}

/* search part  */

.search-part{
    width: 50%;
}

/* button part  */

.btn{
    border: 1px solid black;
    transition: ease-in-out .3s;
}

.btn:hover{
    background-color: #8267BE;
    color: aliceblue;
}

/* spiner add  */

#spiner{
    display: none;
}

/* error handeling  */

#error-message{
    display: none;
}

/* display phone part  */

.display-phone{
    margin: 8em 0;
}

ul.others{
    list-style: none;
}

/* phone details part  */
.phone-details{
    width: 50%;
}

/* for phone responsive */

@media only screen and (max-width: 688px) {
 
    /* search part  */
    .search-part {
        width: 100%;
    }

    /* phone details part  */
    .phone-details {
        width: 100%;
    }
}